$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #f62954;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #f62954;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #f62954;
$color__link-visited: #f62954;
$color__link-hover: #f62954;
$color__text-main: #404040;

$color__border-button: #f62954;
$color__border-button-hover: darken( #f62954, 6% );
$color__border-button-focus: none;
$color__border-input: #dedede;
$color__border-abbr: #666;

$color_primary : #f62954;
$color_secondary: #2d7fc0;
$color_blue: #3084bf;