.cosmic_widgets.widget_cosmic_clients_carousel {
	&.paint_gray {
		.slider_item-inner {
			a {
				text-align: center;
				img {
					filter: grayscale(100%) contrast(42%);
					-webkit-filter: grayscale(100%) contrast(42%);
					transition: 300ms all;
				}
				&:hover,
				&:active,
				&:focus {
					img {
						filter: grayscale(0%) contrast(100%);
						-webkit-filter: grayscale(0%) contrast(100%);
						transition: 300ms all;
					}
				}
			}
		}
	}
	.slider_item {
		.slider_item-inner {
			a {
				text-align: center;
				img {
					
				}
			}
		}
	}
}
.cosmic_widgets {
	// Slick slider
	.slick-prev {
		left: -60px;
	}
	.slick-next {
		right: -60px;
	}
	.slick-prev,
	.slick-next {
		color: inherit;
		width: 50px;
		height: 50px;
		border: 2px solid;
		border-color: inherit;
		border-radius: 100%;
		i {
			color: inherit;
			font-size: 30px;
		}
		&:hover,
		&:active,
		&:focus {
			background-color: currentColor;
			color: inherit;
			outline: none;
			i {
				color: #fff;
			}
		}
		&:before {
			content: '';
		}
	}
	.slick-dots {
		bottom: -55px;
		li {
			color: inherit;
			button {
				color: inherit;
				&:before {
					color: inherit;
					font-size: 14px;
				}
			}
			&.slick-active {
				button {
					color: inherit;
					&:before {
						color: inherit;
					}
				}
			}
		}
	}
}
