.widget_cosmic_section_title {
	&.align_left {
		text-align: left;
	}
	&.align_center {
		text-align: center;
	}
	&.align_right {
		text-align: right;
	}
	.title {
		h3 {
			position: relative;
			display: inline-block;
			min-width: 163px;
			width: 100%;
			.img {
				margin: 0 auto;
				width: 161px;
				height: 72px;
			}
			span {
				position: absolute;
				left: 0;
				top: 28%;
				width: 100%;
				text-transform: uppercase;
			}
		}
	}
}