.page-header {
	.page-header-inner {
		position: relative;
		background: $color_secondary; /* Old browsers */
		background: -moz-linear-gradient(-45deg, $color_secondary 0%, darken( $color_secondary, 35% ) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, $color_secondary 0%,darken( $color_secondary, 35% ) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, $color_secondary 0%,darken( $color_secondary, 35% ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		color: #fff;
		min-height: 510px;
		overflow: hidden;
		.vc_container {
			position: relative;
			z-index: 3;
			min-height: 510px;
			margin-top: 80px;
			display: flex;
			align-items: center;
			.vc_col-md-12 {
				display: flex;
				overflow: hidden;
				flex-direction: column;
				.title {
					color: #fff;
					margin: 0;
					line-height: 0.9em;
					margin-bottom: 30px;
					text-shadow: 2px 2px 4px #193b5d;
				}
			}
		}
		.img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			&:after {
				content: '';
				background: $color_secondary;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0.75;
			}
		}
	}
}

@media only screen and ( max-width: 767px )  {
	.page-header {
		.page-header-inner {
			min-height: 250px;
			.vc_container {
				min-height: 250px;
				.title.big {
					font-size: 1.5em;
				}
				.description {
					h4 {
						font-size: 1em;
					}
				}
			}
		}
	}
	.blog,
	.archive,
	.search-results,
	.page-template-blog-page { 
		.page-header {
			.page-header-inner {
				min-height: 180px;
				.vc_container {
					min-height: 180px;
					.title.big {
						font-size: 2em;
					}
					.description {
						display: none;
					}
				}
			}
		}
	}
}